.subscribe-button { /*targeting a class name*/
    background-color: rgb(200, 0, 0); /* css property - what we are changing, css value - what property changed to */
    color: white;
    border: none;
    padding-top: 10px; /* padding - adds space inside of the element */
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity 0.15s;
    vertical-align: top; /*aligns buttons at top of page and not aligning by text*/
    margin-right: 8px /*margin - space around an element*/
  }

  .subscribe-button:hover { /* :hover - pseudo-class, adds extra styles in certain situation */
    opacity: 0.7; /* takes values from 0 to 1 */
  }

  .subscribe-button:active { /* when clicked */
    opacity: 0.5;
  }

  .join-button {
    background-color: white;
    border-color: rgb(36, 129, 251);
    color: rgb(36, 129, 251);
    border-style: solid;
    border-width: 1px; /*border adds 1px on the top and bottom so padding top and bottom needs to be one less*/
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
  }

  .join-button:hover {
    background-color: rgb(36, 129, 251);
    color: white;
  }

  .join-button:active {
    opacity: 0.7;
  }

  .tweet-button {
    background-color: rgb(33, 144, 242);
    border: none;
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 18px; /*set border-radius to half of height or width, whichever is lower*/
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    vertical-align: top;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15); /* horizontal position, vertical position, blur, color */
  }

  .uber-button {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 115px;
    font-weight: bold;
    margin-left: 8px;
    vertical-align: top;
    transition: opacity, 0.15s;
    cursor: pointer
  }

  .uber-button:hover {
    opacity: 0.7;
  }

  .amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    height: 26px;
    width: 140px;
    border-radius: 13px;
    margin-left: 8px;
    vertical-align: top;
    cursor: pointer;
  }

  .amazon-button:hover {
    background-color: rgb(232, 197, 20);
    transition: opacity, 0.15s;
  }

  .stretch-button {
    background-color: green;
    color: white;
    margin-left: 8px;
    border: none;
    vertical-align: top;
    cursor: pointer;
    transition: padding, 0.15s;
  }

  .stretch-button:hover {
    padding: 10px 25px 10px 25px;
  }

  a {
    display: block;
    margin-top: 5px;
  }

  a:hover {
    color: orange;
  }

  .product-name {
    font-size: 25px;
    font-weight: bold;
  }

  .product-details {
    color: green;
    font-weight: bold;
  }

  .cart-button {
    background-color: yellow;
    border: none;
    height: 36px;
    width: 110px;
    border-radius: 18px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
  }

  .cart-button:hover {
    background-color: rgb(255, 217, 0);
  }

  .cart-button:active {
    opacity: 0.7;
  }

  .buy-button {
    background-color: rgb(255, 164, 28);
    border: none;
    height: 36px;
    width: 110px;
    border-radius: 18px;
    cursor: pointer;
    transition: background-color 0.15s, opacity 0.15s;
  }

  .buy-button:hover {
    background-color: rgb(232, 149, 26);
  }

  .buy-button:active {
    opacity: 0.7;
  }